.Rproj.user
.Rhistory
.RData
.Ruserdata
bedroom/
camvid/
coco_tiny/
imdb/
imdb_tok/
ml-100k/
mnist_sample/
mnist_tiny/
movie_lens_sample/
oxford-iiit-pet/
SPEAKERS10/
imports/
models/
human_numbers/
biwi_head_pose/
MNIST/
wikitext-2/
cats/
siim_small/
kaggle/
models/
fastaibuilt/retinanet/\.gitkeep/
imports/\.gitkeep/
D/
mnist.pkl/
horse2zebra/
wandb/
SPEECHCOMMANDS/
h2z-preds/


